<style>
	#myCarousel {}
</style>

<script>
$(document).ready(function() {
	$('#myCarousel').carousel();
	
	$('#scrollTop').click(function(){
		$('html, body').animate({scrollTop:0}, 'slow');
		return false;
	});
	
});
</script>

<% i=1 %>
<% sections.forEach( function( key,val ){ %>
<% if (val && val.enabled=="1"){ %>
<section id="<%=key%>" class="sec sec<%=i%> <%- val.cssClass %>">
	<h2><%- val.heading %></h2>
	<%- val.content %>
	<% if (val.boolean) {%>yes<% } %>
</section>
<hr>
<% i++; %>
<% } %>
<% }); %>

<br><br><br><br>