<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= app.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= app.description %>">
    <meta name="keywords" content="<%= app.keywords %>">
	
	<script src="/codemirror/lib/codemirror.js"></script>
	<link rel="stylesheet" href="/codemirror/lib/codemirror.css">
	<script src="/codemirror/mode/css/css.js"></script>
	<script src="/codemirror/mode/javascript/javascript.js"></script>
	<script src="/codemirror/mode/xml/xml.js"></script>
	<script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.footer {
			position:fixed;
			z-index:10;
			bottom:5px;
			right:10px;
		}
		#menuSticky {
			z-index: 5;
			position: fixed;
			top: 10%;
			right: 16px;
			padding: 7px;
			padding-top: 12px;
		}
		#menuSticky ul {
			list-style: none;
			margin:0;
		}
		#menuSticky li {
			position: relative;
			background: none repeat scroll 0 0 #cccccc;
			border:1px solid #aaaaaa;
			border-radius: 15px 15px 15px 15px;
			cursor: pointer;
			height: 9px;
			margin: 10px 10px 0px 0px;
			width: 18px;
			vertical-align:bottom;
		}
		#menuSticky li.active {
			background-color: #ffffff;
			background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
			background-repeat: repeat-x;
		}
		#menuSticky li:hover {
			background: none repeat scroll 0 0 #EEEEEE;
		}
		#menuSticky a {
			outline: 0;
			vertical-align:top;
			margin: 0px 0px 0px 25px;
			position: relative;
			top:-5px;
		}
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
	
	<!-- load jquery from google CDN, with a protocol relative URL; otherwise local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bootstrap/js/jquery-1.7.1.min.js"><\/script>')</script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://plugins.in1.com/scripts/socialist.js"></script>
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36671748-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
	<script>
	function unspace(str) {
		if (str==null)
			return;
			
		return str.replace("!","").toLowercase().replace(" ","");
	}
	
	$(document).ready(function() {
	
		$('#scrollTop').click(function(){
			$('html, body').animate({scrollTop:0}, 'slow');
			return false;
		});
		
		
		$('[title]').tooltip();
		
		/* dot nav */
		
		redrawDotNav();
		
		$(window).bind('scroll',function(e){
			//parallaxScroll();
			redrawDotNav();
		});

		
		$('#menuSticky li').click(function(){
			$(this).find('a').trigger('click');
			return false;
		});
		
		function redrawDotNav(){

			var topNavHeight = 61;
			
			$('#menuSticky li a').removeClass('active').parent('li').removeClass('active');
			
			var numDivs = $('section.sec').length;
			$('section.sec').each(function(i,item){
				var ele = $(item), nextTop;

				if ($('section.sec'+(i+2)).offset() !== null) {
					nextTop = $('section.sec'+(i+2)).offset().top;
				}
				else {
					nextTop = $(document).height();
				}
				
				//console.log("sec"+(i+1));
				
				if (ele.offset() !== null) {
					thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numDivs);
				}
				else {
					thisTop = 0;
				}
				
				var docTop = $(document).scrollTop()+topNavHeight;
				
				if(docTop >= thisTop && (docTop < nextTop)){
					$('#menuSticky a.sec'+(i+1)).parent('li').addClass('active');
				}
			});
			
		}
		/* end dot nav */
		
		$('#section-menu li:first').addClass("active");
		$('#section-menu li a, #admin-menu li a, .smooth').click(function(){
			var id = $(this).attr("href").replace("/",""),
				posi,
				ele,
				padding = parseInt($('body').css('padding-top'));

			ele = $(id);
			posi = ($(ele).offset()||0).top - padding;
			
			$('html, body').animate({scrollTop:posi}, 'slow');
			
			return false;
		});
		
		$('#main-menu li a').click(function(){
			$('#main-menu li').removeClass('active');
			$(this).parent().addClass('active');
		});

		<%=page.script||"App"%>
		
	});
	
	/* alert handling */
	
	function showAlert(msg){
		if (typeof msg=="undefined")
			return;
			
		console.log("alerting:"+msg);
		
		$('#msgBox').html(msg+'<a class="close" href="#">&times;</a>').fadeIn().delay(3500).fadeOut('slow');
		
		return false;
	}
	
	<% if (typeof msg!="undefined") { %>
	var msg = "<%=msg%>";
	if (msg!="") {
		showAlert(msg);
	}
	<%}%>
	
	/* end alert handling */
	
	</script>
  </head>

  <body>
  
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				</a>
				<a class="brand" href="/"><%=app.name||"App"%></a>
				<div class="nav-collapse" id="main-menu">
					<ul class="nav" id="section-menu">
						<% if (typeof sections!="undefined") { %>
						<% sections.forEach( function( key,val ){ %>
						<% if (val && val.enabled=="1") { %>
						<li id="menu<%=key%>"><a href="/#<%=key%>" title="<%=key%>"><%=val.menuText||key%></a></li>
						<% } %>
						<% })} %>
					</ul>
					
					<ul class="nav pull-right">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="http://www.in1.com">In1</a></li>
						<li><a href="/admin">Admin</a></li>
						<li class="divider"></li>
						<li><a href="#About">About</a></li>
					  </ul>
					</li>
					
					</ul>

				</div>
			</div>
		</div>
	</div>
  
	<div class="container-fluid">
	<div class="span3 alert alert-info" id="msgBox" style="top:10%;right:3%;position:fixed;z-index:100;display:none;"></div>
	</div>
  
    <%- body %>
	
	<footer class="footer">
		<p class="pull-right"><a href="#" id="scrollTop">scroll to top</a></p>
	</footer>

	<script src="/bootstrap/js/bootstrap-carousel.js"></script>
	<script src="/bootstrap/js/bootstrap-transition.js"></script>
	
    <!--
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->

    <!--[if lt IE 7 ]>
      <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
  </body>
</html>