<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= app.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= app.description %>">
	<meta name="keywords" content="<%= app.keywords %>">
    <meta name="author" content="<%= author %>">
    <meta name="google-site-verification" content="aaSJQREIPu2uh6Bnu4ZZEX0IXxli4YdMsRJzK_r__ac" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.footer {
			position:fixed;
			z-index:10;
			bottom:5px;
			right:10px;
		}
		#menuSticky {
			z-index: 5;
			position: fixed;
			top: 99px;
			right: 16px;
			margin-top: -40px;
			padding: 7px;
			padding-top: 12px;
		}
		#menuSticky ul {
			list-style: none;
			margin:0;
		}
		#menuSticky li {
			position: relative;
			background: none repeat scroll 0 0 #999999;
			border-radius: 15px 15px 15px 15px;
			box-shadow: 0 1px 3px rgba(1, 1, 1, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
			cursor: pointer;
			height: 9px;
			margin: 10px 10px 0px 0px;
			width: 18px;
			vertical-align:bottom;
		}
		#menuSticky li.active {
			background-color: #ffffff;
			background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
			background-repeat: repeat-x;
		}
		#menuSticky li:hover {
			background: none repeat scroll 0 0 #EEEEEE;
		}
		#menuSticky a {
			outline: 0;
			*display: block;
			*width: 20px;
			*height: 20px;
			*text-indent: -9999px;
			*background: transparent 20px 0px no-repeat;
			vertical-align:top;
			margin: 0px 0px 0px 25px;
			position: relative;
			top:-5px;
		}



    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
    <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
	
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="bootstrap/js/jquery-1.7.1.min.js"><\/script>')</script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	
	<script>
	function unspace(str) {
		if (str==null)
			return;
			
		return str.replace("!","").toLowercase().replace(" ","");
	}
	
	$(document).ready(function() {
	
		$('#scrollTop').click(function(){
			$('html, body').animate({scrollTop:0}, 'slow');
			return false;
		});
		
		redrawDotNav();
		
		$(window).bind('scroll',function(e){
			//parallaxScroll();
			redrawDotNav();
		});

		function redrawDotNav(){

			var topNavHeight = 61;
			
			$('#menuSticky li a').removeClass('active').parent('li').removeClass('active');
			
			var numDivs = $('section.sec').length;
			$('section.sec').each(function(i,item){
				var ele = $(item), nextTop;

				if ($('section.sec'+(i+2)).offset() !== null) {
					nextTop = $('section.sec'+(i+2)).offset().top;
				}
				else {
					nextTop = $(document).height();
				}
				
				console.log("sec"+(i+1));
				
				if (ele.offset() !== null) {
					thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numDivs);
				}
				else {
					thisTop = 0;
				}
				
				var docTop = $(document).scrollTop()+topNavHeight;
				
				if(docTop >= thisTop && (docTop < nextTop)){
					$('#menuSticky a.sec'+(i+1)).parent('li').addClass('active');
				}
			});
			
		}
		
		function spy(){
			var id = $(this).attr("href").replace("/",""),
				posi,
				ele,
				padding = parseInt($('body').css('padding-top'));

			ele = $(id);
			posi = ($(ele).offset()||0).top - padding;
			
			$('html, body').animate({scrollTop:posi}, 'slow');
			
			return false;
		}
		
		$('#section-menu li:first').addClass("active");
		$('#section-menu li a, #admin-menu li a, .smooth').click(function(){
			var id = $(this).attr("href").replace("/",""),
				posi,
				ele,
				padding = parseInt($('body').css('padding-top'));

			ele = $(id);
			posi = ($(ele).offset()||0).top - padding;
			
			$('html, body').animate({scrollTop:posi}, 'slow');
			
			return false;
		});
		
		$('#main-menu li a').click(function(){
			$('#main-menu li').removeClass('active');
			$(this).parent().addClass('active');
		});

		<%=page.script||"App"%>
		
	});
	</script>
  </head>

  <body>
  
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				</a>
				<a class="brand" href="/"><%=app.name||"App"%></a>
				<div class="nav-collapse" id="main-menu">
					<ul class="nav" id="section-menu">
						<% if (typeof sections!="undefined") { %>
						<% sections.forEach( function( key,val ){ %>
						<% if (val && val.enabled=="1") { %>
						<li><a href="/#<%=key%>"><%=val.menuText||key%></a></li>
						<% } %>
						<% })} %>
					</ul>
					
					<ul class="nav pull-right">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="http://www.in1.com">In1</a></li>
						<li class="divider"></li>
						<li><a href="#About">About</a></li>
					  </ul>
					</li>
					
					</ul>

				</div>
			</div>
		</div>
	</div>
  
	<div data-spy="affix" data-offset-top="220" id="menuSticky" class="pull-right">
		<ul>
		<% if (typeof sections!="undefined") { %>
		<% i=1 %>
		<% sections.forEach( function( key,val ){ %>
		<% if (val && val.enabled=="1") { %>
		<li><a href="/#<%=key%>" class="sec<%=i%>"><%=i%></a></li>
		<% i++ %>
		<% } %>
		<% })} %>
		</ul>
	</div>
  
    <%- body %>
	
	<footer class="footer">
		<a href='http://www.in1.com'>in1.com</a> | <p class="pull-right"><a href="#" id="scrollTop">scroll to top</a></p>
	</footer>

	<script src="/bootstrap/js/bootstrap-carousel.js"></script>
	<script src="/bootstrap/js/bootstrap-transition.js"></script>
	
    <!--
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->

    <!--[if lt IE 7 ]>
      <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
  </body>
</html>